*{
    margin: 0px;
    padding: 0px;
    /* outline: 1px solid red; */
}

.container p{
    display: inline-block;
    margin-right: 3%
}

.gold p{
    display: inline-block;
    margin-right: 0.1%;
    vertical-align: top !important;
    margin-top: 3%;
    width: 100px;
    height: 20px;
}

.gold p:nth-child(2){
    display: inline-block;
    margin-top: 3%;
    vertical-align: top !important;
    width: 10%;
    text-align: center;
    outline: 1px solid black;
}

.farm{
    display: inline-block;
    width: 22.5%;
    margin: 20px 0% 20px 1%;
}

.cave{
    display: inline-block;
    width: 22.5%;
}

.house{
    display: inline-block;
    width: 22.5%;
}

.casino{
    display: inline-block;
    width: 25%;
}

.output{
    margin: 1% 0% 0% 1%;
}

input{
    box-shadow: 2px 2px black;
}


textarea{
    width: 98%;
}

.farm, .cave, .house, .casino{
    padding: 2% 0% 2% 0%;
    text-align: center;
    outline: 1px solid black;
    margin-right: 1%;
}