<!DOCTYPE html>
<html>
    <head>
        <title>Ninja Gold</title>
        <!-- linking a css style sheet -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <!-- Linking Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- linking a javascript file -->
        <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script> -->
    </head>
    <body>
        <div class='container'>
                
            <div class='gold'>
                <p>Your Gold:</p>
                <p> {{ session['gold'] }}</p>
            </div>
            <div class='actions'>
                <div class='farm'>
                    <h3>Farm</h3>
                    <p>(earns 10-20 gold)</p>
                    <form action="/process_money" method="post">
                        <input type="hidden" name="building" value="farm" />
                        <input type="submit" value="Find Gold!"/>
                    </form>
                </div>
                <div class='cave'>
                    <h3>Cave</h3>
                    <p>(earns 5-10 gold)</p>
                    <form action="/process_money" method="post">
                        <input type="hidden" name="building" value="cave" />
                        <input type="submit" value="Find Gold!"/>
                    </form>
                </div>
                <div class='house'>
                    <h3>House</h3>
                    <p>(earns 2-5 gold)</p>
                    <form action="/process_money" method="post">
                        <input type="hidden" name="building" value="house" />
                        <input type="submit" value="Find Gold!"/>
                    </form>
                </div>
                <div class='casino'>
                    <h3>Casino</h3>
                    <p>(earns/takes 0-50 gold)</p>
                    <form action="/process_money" method="post">
                        <input type="hidden" name="building" value="casino" />
                        <input type="submit" value="Find Gold!"/>
                    </form>
                </div>
            </div>
            <div class='output'>
                <p>Activities:</p>
                <textarea class="form-control" rows="3">{{session['activity']}}</textarea>
            </div>
        </div>
        
    </body>
</html>